<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<body>
    <div class="error_div">
    <h1 class="error"> 404 Page Not Found</h1>
    <img class="Cat_error" src="https://media2.giphy.com/media/lZ6Z9OFJS7sQM/200.gif?cid=95b27944c4d13c350146b6008708257e714bba02c3905146&rid=200.gif&ct=g" alt="Cat walking on keyboard">
    </div>
</body>
</html>