<%- include('include/_header',{page: 'RenditionReddit' }) %>
    <link rel="stylesheet" href="/styles/newPost.css">

    <body>
        <%- include('include/_nav') %>
            <div class="containerMain">
                <div class="contentDiv">
                    <form class="form1" action="/posts" method="POST">
                        <div class="div3">
                            <label class="label1" for="post">Post Title</label>
                            <input class="input1" type="text" placeholder="Title" name="title" />
                        </div>

                        <div class="div5">
                            <label class="label2" for="community">Community</label>
                            <input class="input2" type="text" placeholder="Community Name" name="community" style='text-transform: lowercase'/>
                        </div>
                        <div class="div6">
                            <label class="label3" for="body">Image URL</label>
                            <input class="input3" text="text" placeholder="http:// (Optional)" name="image" />
                        </div>
                        <div class="div7">
                            <label class="label4" for="body">Text Body</label>
                            <textarea class="input4" type="text" placeholder="Text (optional)" name="body"></textarea>
                        </div>
                        <div class="div7">
                            <label hidden class="label" for="username">Username</label>
                            <input hidden class="input3" type="text" value="<%= session.currentUser.username %>" name="username"></input>
                        </div>
                        <button class="createButton">Post</button>
                    </form>
                   
                </div>
            </div>
            <div class="sidebar">
                <div class="topCommunities">
                    Top Communities!
                    <hr>
                    <ol>
                        <li>r/example 1</li>
                        <li>r/example 2</li>
                        <li>r/example 3</li>
                        <li>r/example 4</li>
                        <li>r/example 5</li>
                    </ol>
                </div>
            </div>
    </body>

    </html>