<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        href="upvote.css">
</head>

<body>
    <div class="container">
        <img src="" />
        <div class="voting">
            <button id="likebtn">
                <img
                    src="https://preview.redd.it/819e0p6if9k81.png?width=494&format=png&auto=webp&s=991aa7398b415a7ed77ec9f6609e0505e25eab18">
            </button>
            <input type="number" id="input1" value="0" name="">
            <button id="dislikebtn">
                <img
                    src="https://preview.redd.it/adlv9w5jf9k81.png?width=494&format=png&auto=webp&s=fbf357a21bc379d5765cbfa328b9a0144d89b319">
            </button>
            <input type="number" id="input2" name="">
        </div>
    </div>
    <script type="text/javascript">
        let likebtn = document.querySelector('#likebtn');
        let dislikebtn = document.querySelector('#dislikebtn');
        let input1 = document.querySelector('#input1');
        let input2 = document.querySelector('#input2');
        likebtn.addEventListener('click', () => { input1.value = parseInt(input1.value) + 1; })
        dislikebtn.addEventListener('click', () => { input1.value = parseInt(input1.value) - 1; })
    </script>
</body>

</html>