.commentBox {
    display: block;
    grid-column: 2;
    grid-row: 5/auto;
    height: fit-content;
}

textarea {
    background-color: rgb(26, 26, 27);
    width: 95%;
    height: 5em;
    color: rgb(210, 210, 210);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.commentButton {
    max-width: 100%;
    font-size: 1.2rem;
    border-radius: 9999px;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    margin-bottom: 1em;
    cursor: pointer;
}

button {
    display: flex;
    margin: 0.5em 1em 0.5em auto;
}

.comment {
    display: block;
    width: 95%;
    grid-column: 2;
    margin: 0.5em;
}

.commentBody {
    display: block;
    width: 95%;
    grid-column: 2;
}

.upVote:hover {
    color: rgb(204, 55, 0);
}

.downVote:hover {
    color: rgb(88, 114, 200);
}

.upVote,
.downVote {
    color: rgb(100, 100, 100);
    background: rgb(26, 26, 27);
    border: none;
}

.voteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1;
    grid-row: 1/span 5;
    width: 100%;
    padding-left: 0.4em;
    margin: 0;
}

.voteTotal {
    color: rgb(215, 215, 215);
    margin: 0 0.7em 0 0;
}