* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 27);
}

.voting {
    position: relative;
    border: 3 px solid #303030;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

input {
    width: 50px;
    border: none;
    background: none;
    color: #919191;
    font-size: 30px;
    margin: 0px 10px;
}

button {
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0px 15px;
    margin: 10px 0px;
    margin-left: 20px;
    cursor: pointer;
}

button:active {
    color: #004eff;
    transform: scale(1.2);

}