<!-- include header -->
<%- include('../include/_header') %>
<link rel="stylesheet" href="/styles/newUser.css">
    <!-- /include header -->
  <body>
    <%- include('../include/_nav') %>
    <section class="containerMain">
        <div class="contentDiv">
          <h1 class="contentTitle">Login</h1>
          <form action="/users/login" method="POST" class="contentBody">
            <div>
              <label>Email</label>
              <div>
                <input class="input1"
                  name="email"
                  type="email"
                  placeholder="example@domain.com"
                />
              </div>
            </div>
            <div >
              <label>Password</label>
              <div>
                <input class="input2"
                  name="password"
                  type="password"
                  placeholder="******"
                />
              </div>
            </div>
            <div>
              <div>
                <button class="createButton">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </body>
  </html>