<%- include('../include/_header',{page: 'Register' }) %>
  <link rel="stylesheet" href="/styles/newUser.css">

  <body>
    <%- include('../include/_nav') %>
      <section class="containerMain">
        <div class="contentDiv">
          <h1 class="contentTitle">Register</h1>
          <form action="/register" method="POST" class="contentBody">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input name="username" class="input1" type="text" placeholder="Cooldev"
                  style='text-transform: lowercase' />
              </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input name="email" class="input2" type="email" placeholder="example@domain.com" />
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input name="password" class="input3" type="password" placeholder="******" />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="createButton">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </section>
      <main class="container is-max-widescreen"></main>
  </body>

  </html>